th,
tr {
  color: white;
}

table {
  border-spacing: 0;
  border-radius: 15px;
  border: 2px solid grey;
  width: 700px;
  margin-left: 50px;
  height: 100px;
  text-align: left;
  margin-top: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.height-line {
  height: 15px;
  border-top: none;
}

td,
th {
  border: 1px solid grey;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding: 10px;
}

.line02 {
  text-align: left;

}

.line4 {
  color: gray;
  margin-right: 30px;
}

.line2 {
  color: grey;
}

.line1 {
  color: white;
  
}

/*.line3{
padding-left: 1px;
  }*/

.Search {
  background: #00008B;
  width: 47%;
  height: 33px;
  text-align: center;
  border-radius: 10px;
  ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.table1 {
  margin-top: 120px;
}

.table2 {
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.table3 {
  margin-top: 10px;
}

.archive {
  background: blue;
  width: 15px;
  height: 15px;
  margin-right: 10px;

}

.Serch-line {
  position: relative;
  bottom: 27px;
  left: 283px;
  height: 4px;

}

.search-img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 180px;
  bottom: -2px;
  background: black;
}